/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

body {
  background-image: url('http://getwallpapers.com/wallpaper/full/6/2/3/389089.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

textarea[type=text] {
  width: 90%;
  height: 80px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  max-width: 700px;
}

input[type=date] {
  margin-top: 20px;
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-weight: bold;
  color: #222;
  min-width: 150px;
}

label {
  font-size: 20px;
  font-weight: bold;
  padding: 12px 12px 12px 50px;
  display: inline-block;
  color: #660033;
}

input[type=submit] {
  font-family: FontAwesome;
  margin-top: 80px;
  font-size: 15px;
  font-weight: bold;
  background-color: #CC0066;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px auto 0 auto;
  text-align: center;
}

hr {
  height: 2px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

input[type=submit]:hover {
  background-color: #990033;
}

.container {
  border-radius: 5px;
  background-color: #fff2e6;
  opacity: 0.9;
  padding: 20px;
  margin: 40px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.spanDesc {
  width: 50%;
  color: #660033;
  background-color: inherit;
}

.spanDat {
  width: 50%;
  font-weight: bold;
  color: #660033;
}

button {
  background-color: #CC0066;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-top: 0px;
  margin-right: 20px
}

h1 {
  color: #660033;
  font-family: 'Rouge Script', cursive;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

h2 {
  color: #660033;
  padding: 0px 0px 12px 0px;
  margin-bottom: 0px;
  font-family: 'Rouge Script', cursive;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  text-shadow: 1px 1px 2px #082b34;
}

input[type=submit] {
  margin-top: 35px;
}

.spanDesc:enabled {
  background: #eeeeee;
  font-size: 20px;
  border: #727272;
  text-align: center;
  border: 1px solid #ccc;
}

.spanDesc:disabled {
  font-size: 20px;
}

.task {
  overflow: auto;
  height: 600px;
  background-color: #ddd;
  padding: 20px 15px 10px 10px;
  margin-top: 15px;
}

.rowadd {
  text-align: center;
}

@media screen and (max-width:800px) {
  .col-25, .col-75 {
    width: 100%
  }
  label {
    padding: 12px;
  }
  button {
    max-width: 10%;
    padding: 5px;
  }
  .container {
    width: 100%;
    margin: 0;
  }
}
